@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    @model hospital.Models.BookAppointment
    <div class="title-container">
        <h3 class="normal-title">Записатися на прийом до лікаря - @Model.Doctor.Name @Model.Doctor.Surname</h3>
    </div>

    <div class="form-container">
    @using (Html.BeginForm("SaveFirstAppointment", "Appointment", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        @Html.DropDownListFor(m => m.ScheduleId, new List<SelectListItem>(@Model.Schedule), "Оберіть години для прийому", new { @class = "form-control" })
        <br />
        @Html.ValidationMessageFor(m => m.ScheduleId, "", new { @class = "text-danger" })
        <br />

        <label for="reasonForAppeal">Причина звернення:</label>
        <br />
        @Html.TextAreaFor(m => m.ReasonForAppeal, new { rows = 4, cols = 40 })
        <br />

        @Html.ValidationMessageFor(m => m.ReasonForAppeal,"", new { @class = "text-danger" })
        <br />
    
        @Html.HiddenFor(m => m.Doctor.Id) 
        @Html.HiddenFor(m => m.Doctor.Email) 
        @Html.HiddenFor(m => m.Schedule) 

        <button type="submit">Select</button>
    }

    </div>
       
</div>